<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="Santosh Kumar Portfolio, Projects, Python Projects" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Santosh Kumar" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">

    <title>About Me</title>

    <link href="./static/main.3da94fde.css" rel="stylesheet">
</head>

<body>

    <!-- Add your content of header -->

    <header>
        <nav class="navbar navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <nav class="navbar-fullscreen" id="navbar-middle">
                    <button type="button" class="close" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <ul class="navbar-fullscreen-links">
                        <li><a href="./index.html" title="">Home</a></li>
                        <li><a href="./project.html" title="">Project</a></li>
                        <li><a href="./about.html" title="">About me</a></li>
                    </ul>

                    <div class="footer-container">

                        <p><small>© SantoshKumar@Official | Website created with ❤️</small></p>
                        <p class="footer-share-icons">
                            <a href="https://www.hackerrank.com/Stranger22k" class="fa-icon" title="">
                                <i class="fa fa-hackerrank" aria-hidden="true"><img
                                        src="https://img.icons8.com/windows/30/000000/hackerrank.png" /></i>
                            </a>
                            <a href="https://twitter.com/santosh_22k" class="fa-icon" title="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/santosh-22k/" class="fa-icon" title="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.behance.net/santoshkumar68" class="fa-icon" title="">
                                <i class="fa fa-behance" aria-hidden="true"></i>
                            </a>
                            <a href="https://github.com/KumarSantosh22" class="fa-icon" title="">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </p>

                    </div>


                </nav>

            </div>
        </nav>
    </header>
    <div class="section-container content-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-6">
                        <img src="./static/assets/images/img1-profil.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-md-6">
                        <h1 class="h2" style="color: rgb(16, 38, 160);">Santosh Kumar</h1>
                        <p style="color: rgb(43, 64, 184);">Hello, I am a hardworking engineering
                        undergraduate specialized in Computer Science and Engineering. I am about to
                        graduate in 2021. I am basically a Python Developer, but I have also good skills in Java Programming. I have learnt various technologies and developed various
                        projects. Now I am gladly want to share my projects and help others in developing
                        their various projects. I can help you in your console apps, web apps, and
                        desktops apps as well. If anyone want to contribute to me, then he can do on my
                        github account. I have some open source projects as well and I would like to share
                        them with you all guys who are interested.</p>
</p>

                        <ul class="list-unstyled">
                            <li>
                                <a href="mailto:cse_santosh@outlook.com" title="" class="link-like-text"
                                    style="color:blue;"><img src="https://img.icons8.com/fluent/20/000000/gmail.png" />E-Mail</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/santosh-22k/" title=""
                                    class="link-like-text" style="color: blue;"><img src="https://img.icons8.com/ios/20/000000/linkedin.png" />LinkedIn</a>
                            </li>
                            <li> 
                                <a href="https://www.hackerrank.com/Stranger22k" title=""
                                    class="link-like-text" style="color: blue;"><img src="https://img.icons8.com/windows/20/000000/hackerrank.png" />Hackerrank</a>
                            </li>
                            <li>
                                <a href="https://github.com/KumarSantosh22" title="" class="link-like-text"
                                    style="color: blue;"><img src="https://img.icons8.com/nolan/20/github.png" />GitHub</a>
                            </li>
                            <li>
                                <a href="https://twitter.com/santosh_22k" title="" class="link-like-text"
                                    style="color: blue;"><img src="https://img.icons8.com/fluent/20/000000/twitter.png" />Twitter</a>
                            </li>
                            <li>
                                <a href="https://www.behance.net/santoshkumar68" title=""
                                    class="link-like-text " style="color: blue;"><img src="https://img.icons8.com/cute-clipart/20/000000/behance.png" />Behance</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            navbarToggleSidebar();
            closeMenuBeforeGoingToPage();
            navActivePage();
        });
    </script>
    <script type="text/javascript" src="./static/main.4c6e144e.js"></script>
</body>

</html>