<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Santosh Kumar Portfolio, Projects, Python Projects" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Santosh Kumar" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>Projects</title>

  <link href="./static/main.3da94fde.css" rel="stylesheet">
</head>

<body>

  <!-- Add your content of header -->

  <header>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <nav class="navbar-fullscreen" id="navbar-middle">
          <button type="button" class="close" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <ul class="navbar-fullscreen-links">
            <li><a href="./index.html" title="">Home</a></li>
            <li><a href="./project.html" title="">Project</a></li>
            <li><a href="./about.html" title="">About me</a></li>
          </ul>

          <div class="footer-container">

            <p><small>© SantoshKumar@Official | Website created with ❤️</small></p>
            <p class="footer-share-icons">
              <a href="https://www.hackerrank.com/Stranger22k" class="fa-icon" title="">
                <i class="fa fa-hackerrank" aria-hidden="true"><img
                    src="https://img.icons8.com/windows/30/000000/hackerrank.png" /></i>
              </a>
              <a href="https://twitter.com/santosh_22k" class="fa-icon" title="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/santosh-22k/" class="fa-icon" title="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://www.behance.net/santoshkumar68" class="fa-icon" title="">
                <i class="fa fa-behance" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/KumarSantosh22" class="fa-icon" title="">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </p>

          </div>


        </nav>

      </div>
    </nav>
  </header>


  <div class="hero-full-container background-image-container white-text-container"
    style="background-image:url('./static/assets/images/img-1.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content  text-center">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center section-container-spacer">
            <h2 class="with-project-number"><span class="project-number">01</span>PROJECT LIST</h2>
          </div>

          <div class="row section-container-spacer">            
            <div class="col-md-8">
              <h3><a href="/project-01.html">1.PDF-Merger</a></h3>
              <p>Merge PDF documents to one PDF file. It doesn't matter how complex they are or how many pages each PDF has, it merges them all into one.</p>
            </div>
          </div>

          <div class="row section-container-spacer">
            <div class="col-md-8">
              <h3><a href="/project-02.html">2.Watermarker</a></h3>
              <p>Protect your PDF's with custom watermarks.</p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <ul class="navbar-nav nav">
            <li>
              <a href="" title="" class="project-nav left"><span class="project-number">01</span>Current</a>
            </li>
          </ul>

          <ul class="navbar-nav nav navbar-right">
            <li>
              <a href="" title="" class="project-nav right"><span class="project-number">02</span>Next </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>





  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
  </script>
  <script type="text/javascript" src="./static/main.4c6e144e.js"></script>
</body>

</html>